body {

    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*yHZKuUPofUf39CpZ6frmxw.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.titulo{
    display: flex;    
    justify-content: center;
    color: orange;
}

.texto{
    color: orangered;
}
.imgEstilo{
    width: 100px;
    border-radius: 1px;
    border-color: red;
    
}
.imgEstilo:hover{
    border-color: yellow;
    width: 105px;
}
.contenedorGanador{
    display: flex;
    flex-direction: row;
}

.textoGanador{
    color: blue;
    font-size: 22px;
}